* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Homenaje;
}

html {
    width: 100%;
    height: 100%;
    background-color: #222;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 8%;
    padding: 1% 0% 1% 1.5%;
    min-height: 80px;
    background-color: #978693;
}

#mainLogo {
    height: 100%;
}

#routeSelectSpan {
    text-align: right;
    width: 100%;
    vertical-align: bottom;
    font-size: 2.5em;
    position: absolute;
    right: 0;
    top: 2%;
}

.routes {
    margin: -1% 2% 0 0%;
    padding-top: 5px;
}

.routes:hover {
    cursor: pointer;
}

#ui {
    width: 100%;
    height: 92%;
    overflow: hidden;
}

#homeBody {
    width: 100%;
    height: 100%;
    background-image: url('images/home_image.jpg');
    background-position: right;
    background-size: cover;
    color: white;
    padding-top: 10%;
}

#aboutBody {
    width: 100%;
    height: 100%;
    background-image: url('images/about-us.jpg');
    background-position: right;
    background-size: cover;
    color: white;
    padding-top: 5%;
}

#reservationBody {
    width: 100%;
    height: 100%;
    background-image: url('images/reservation_images.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

#serviceBody {
    width: 100%;
    height: 100%;
    background-image: url('images/services.jpg');
    background-position: right;
    background-size: cover;
    color: white;
    padding-top: 5%;
}

#teamBody {
    width: 100%;
    height: 100%;
    background-image: url('images/team.jpg');
    background-position: right;
    background-size: cover;
    color: white;
    padding-top: 5%;
}

#productBody {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-image: url('images/product.jpg');
    background-position: right;
    background-size: cover;
    color: white;
}

#contactBody {
    width: 100%;
    height: 100%;
    background-image: url('images/DSC_2677.JPG');
    background-position: top;
    background-size: cover;
    color: white;
    padding-top: 5%;
}

#ECET {
    text-align: center;
    width: 35%;
    min-width: 660px; 
    height: 15%;
    margin-left: 10%;
    font-size: 5em;
}

#WAAS {
    width: 30%;
    min-width: 575px;
    margin-top: 1%;
    margin-left: 12.5%;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.3em;
}

#homeLogo {
    margin: 4% 0 0 24%;
    width: 8%;
    min-width: 145px;
}

#AboutUs {
    margin-left: 10%;
    font-size: 5em;
    color: #978693;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
    
}

#aboutInfo {
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: rgba( 255, 255, 255, .8);
    color: #222;
    padding: 2.5%;
    font-size: 2em;
    text-indent: 1%;
    line-height: 1.3em;
    border-radius: 7px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

#Products {
    margin-left: 10%;
    font-size: 5em;
    color: #978693;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
}

#ProductDiv {
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 2%;
    background-color: rgba( 255, 255, 255, .8);
    font-size: 1.75em;
    text-indent: 1%;
    color: #222;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    border-radius: 7px;
}

#productInfo {
    padding-bottom: 6%;
    border-bottom: 15px solid #222;
    font-size: 1em;
    line-height: 1.3em;
}

#productNamesDiv {
    margin-top: 6%;
    text-align: center;
}

.productNames {
    padding: 1% 0 0 0;
    margin: 0 3% 0 3%;
    text-indent: 0;
}

.productNames:hover {
    cursor: pointer;
}

.selectedProduct {
    color: #978693;
}

#productInfoDiv {
    margin-top: 6%;
}

#productDesc {
    display: inline-block;
    width: 64%;
    padding-right: 2%;
    vertical-align: top;
    line-height: 1.3em;
}

#productImg {
    width: 34%;
    display: inline-block;
}

#Services {
    margin-left: 10%;
    font-size: 5em;
    color: #978693;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
}

#ServicesDiv {
    width: 40%;
    height: auto;
    margin-left: 10%;
    margin-top: 2%;
    padding: 2%;
    background-color: rgba( 255, 255, 255, .8);
    font-size: 1.75em;
    text-indent: 1%;
    color: #222;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    line-height: 1.3em;
    border-radius: 7px;
    overflow: hidden;
}

#servicesInfo {
    padding-bottom: 6%;
    border-bottom: 15px solid #222;
}

#serviceNamesDiv {
    padding-top: 5%;
    text-align: center;
    text-indent: 0;
}

.serviceNames {
    padding-top: 1%;
    margin: 0 1% 0 1%;
}

.serviceNames:hover {
    cursor: pointer;
}

.selectedService {
    color: #978693;
}

#serviceListDiv {
    padding-top: 5%;
    padding-bottom: -2%;
}

.servicesList {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #222;
}

#ContactUs {
    font-size: 5em;
    margin-left: 10%;
    margin-bottom: 2%;
    color: #978693;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
}

#contactInputDiv {
    margin: 0% 0 0 10%;
    height: 40%;
    width: 40%;
    display: inline-block;
}

.contactInput {
    width: 100%;
    margin-bottom: 2%;
    height: 30%;
    font-size: 3em;
    padding: 1% 1% 1% 3%;
    color: #222;
    background-color: rgba( 255, 255, 255, .8);
    outline: none;
    border: none;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    border-radius: 7px;
}

#inputSubmitButt {
    background-color: #978693;
    color: rgba(2, 2, 2, .5);
    padding: 3% 1%;
    text-align: center;
    font-size: 3em;
    transition: all .25s ease;
    height: 30%;
    border-radius: 7px;
    transition: all .5s ease;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

#inputSubmitButt:hover {
    cursor: pointer;
    color: rgba(2, 2, 2, 1);
}

#SIDIV {
    display: inline-block;
    vertical-align: top;
    height: 80%;
}

.salonInformation {
    line-height: 1.5em;
    font-size: 1.5em;
    background-color: rgba( 255, 255, 255, .8);
    padding: 2%;
    color: #222;
    position: absolute;
    right: 10%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    border-radius: 7px;
}

#Caddress {
    
}

#SIDHdiv {
    margin-top: 13%;
}

#SIdays {
    display: inline-block;
}

#SIhours {
    padding-left: 30px;
    display: inline-block;
}

#contactMap {
    position: absolute;
    right: 5%;
    bottom: 1%;
}

#OurTeam {
    font-size: 5em;
    margin-left: 10%;
    margin-bottom: 2%;
    color: #978693;
    text-shadow: 2px 2px 10px rgba(0,0,0, 1);
}

#stylistsMainDiv {
    margin-left: 10%;
    margin-right: 10%;
    height: 70%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    padding: 2%;
}

#leadTeamDiv {
    width: 100%;
    height: 50%;
}

#stylistTeamDiv {
    height: 25%;
    width: 72%;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 54.25%;
    left: 14%;
    background-color: rgba(0, 0, 0, .8);
}

.stylistDiv {
    display: inline-block;
    width: 13%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    text-align: center;
    font-size: 4em;
    padding-top: 14%;
    margin: 0 2% 0 0%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
    text-indent: 0;
    color: #eaeaea;
    position: relative;
    left: 0;
    float: left;
}

.arrows {
    font-size: 10em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 2.4%;
    padding-top: 6%;
    color: #222;
}

#rightArrow {
    margin-left: 95%;
}








/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #BCB3A3;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}




[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
	transition:all .5s ease-in-out;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}





