<div id="salesBody">
    <div id="saleDiv">
        <input id="saleClientInput" ng-model="sale.client" placeholder="Client Search" list="clientlistSale" />
        <datalist id="clientlistSale">
            <option ng-repeat="client in clients track by client._id">
                {{client.firstname}} {{client.lastname}}
            </option>
        </datalist>
        <br>
        <div id="saleNewClientDiv">
            <input class="saleNC" placeholder="firstname" ng-model="newC.firstname" /><br><input placeholder="lastname" class="saleNC" ng-model="newC.lastname"/><br><input placeholder="phone" type="tel" class="saleNC" ng-model="newC.phone"/><br><input placeholder="email" type="email" class="saleNC" ng-model="newC.email"/>
            <div id="saleANC" ng-click="addNewClient(newC)">Add New Client</div>
        </div>
        <br>
        <select id="saleStylistSelect" ng-model="sale.stylist">
            <option value="" disabled selected>Select Stylist</option>
            <option ng-repeat="stylist in team" value="{{stylist._id}}">
                {{stylist.firstname}} {{stylist.lastname.substr(0,1)}}
            </option>
        </select>
        <br>
        <select id="salePaymentSelect" ng-model="sale.paymentMethod">
            <option value="" disabled selected>Payment Method</option>
            <option>Credit Card</option>
            <option>Debit Card</option>
            <option>Cash</option>
            <option>Check</option>
            <option>Gift Card</option>
        </select>
        <br>
        
        <div id="finalizeSaleButt" ng-click="makeSale(sale)">
            Finalize Sale
        </div>
        
        <div id="productSideDiv">
            <div id="PSsearchDiv">
                <input id="productSearch" list="productList" ng-model="sale.productSelect" placeholder="Product Search" /><datalist id="productList">
                    <option ng-repeat="product in products">{{product.name}}, {{product.brand}}</option>
                </datalist><div id="addProductToList" ng-click="addProductToSelected()">
                    Add Product
                </div>
            </div>
            <div id="productsAreaDiv">
                <div class="productInCart" ng-repeat="product in selectedProducts" ng-class="{evenProduct: $index%2 === 1}">
                    <div class="nameAndBrand">{{product.product.name}}
                    </div>
                    <div class="trashbinProduct fa fa-trash" ng-click="removeFromCart($index)"></div>
                    <div class="amountforproduct">
                        <input class="amountProductNumberInput" type="number" min="0" ng-model="product.amount">
                    </div>
                    <div class="priceforproduct">
                        ${{product.product.price*product.amount}}
                    </div>
                </div>
            </div>
            <div id="totalDiv">
                Total: ${{totalInCart()}}
            </div> 
        </div>
    </div>
    <div id="recentSalesDivScrollBarBullshit">
        <div id="recentSalesDiv">
            <div class="salesClass" ng-class="{evenSalesClass: $index%2 === 1}" ng-repeat="sale in todaysSales | orderBy: '$index':true">
                <div class="salesClassParts">{{sale.client.firstname}} {{sale.client.lastname}}</div>
                <div class="salesClassParts">{{sale.stylist.firstname}} {{sale.stylist.lastname}}</div>
                <div class="salesClassParts">{{makeTimeReadable(sale.date)}}</div>
            </div>
        </div>
    </div>
</div>