<div id="contactBody">
    
    <div id="ContactUs">
        CONTACT US
    </div>
    
    <div id="contactInputDiv">
            <input class="contactInput" placeholder="Name" type="text" ng-model="Cinput.name"><br>
            <input class="contactInput" placeholder="Email" type="email" ng-model="Cinput.email"><br>
            <input class="contactInput" placeholder="Phone" type="tel" ng-model="Cinput.phone"><br>
            <div id="inputSubmitButt" ng-click="formSend()">Submit</div>
    </div>
    
    <div id="SIDIV">
        <div class="salonInformation" id="Caddress">
            815 East 400 South<br>
            Salt Lake City, UT 84102<br>
            801.746.1010
        </div>
        <br>
        <div class="salonInformation" id="SIDHdiv">
            <div id="SIdays">
            Tues-Fri<br>
            Sat<br>
            Sun-Mon
            </div>
            <div id="SIhours">
                9am-6pm<br>
                9am-4pm<br>
                Closed
            </div>
        </div>
    </div>
</div>