<div id="appointmentsBody">
    <div id="appointmentsLeftColumn">
        <div id="appointmentsCalanderDiv"></div>
        <div id="appointmentsStlystListDiv">
            <div id="APPSscrollbarbullshit">
                <div class="APPstylistListDiv" ng-repeat="stylist in team" ng-class="{selectedStylist: selectedStylist === stylist._id}" ng-click="selectStylist(stylist._id)">
                    <img class="APPStylistImg" src="{{stylist.pictureUrl}}">
                    {{stylist.firstname}} {{stylist.lastname.substr(0,1)}}.
                </div>
            </div>
        </div>
    </div>
    <div id="appointmentsRightColumn">
        <div id="APPBIGcalanderDiv">
            <div id="APPBCdayname">
                <div id="addNewAppDiv" ng-click="changeAddApp()">
                    Create New Appointment
                </div>
                <div id="leftAngle" class="APPBCdaynamearrows fa fa-angle-left"></div>
                {{selectedDay}}
                <div id="rightAngle" class="APPBCdaynamearrows fa fa-angle-right"></div>
                <div id="gototoday">View Today's Appointment</div>
            </div>
            <div id="APPBCCDiv">
                <div class="calanderSlot" ng-repeat="stylist in team" id="{{stylist._id}}" ng-if="selectedStylist === null || selectedStylist === stylist._id"  ng-class="{selectedSlot: selectedStylist === stylist._id}">
                    <div class="slotName">
                        {{stylist.firstname}} {{stylist.lastname.substr(0,1)}}.
                    </div>
                    <div class="slotAppointments">
                        <div class="appointment" ng-repeat="appointment in daysAppointments | filter: stylist._id" ng-style="setProperties({{appointment.date}},{{appointment.duration}})">
                            {{appointment.client.firstname}} {{appointment.client.lastname}}
                            <div class="fa fa-times appointmentX" ng-click="deleteAppointment(appointment._id)"></div>
                        </div>
                        <div class="times" ng-repeat="time in times track by $index">
                        {{time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <add-app-dir></add-app-dir>
</div>