<div id="reservationBody">
    
    <div id="Reservations">
        RESERVATIONS
    </div>
    
    <div id="ReservationChoiceDiv">
        <div id="ReservationClientSide" class="ReservationSides">
            <div class="ReservationName">
                Client
            </div>
            <div id="RCButt" ng-click="CTS()">Request A Booking</div>
        </div>
        <div id="ReservationStylistSide" class="ReservationSides">
            <div class="ReservationName">
                Stylist
            </div>
            <input class="RSInputs" id="RSUsername" placeholder="Username" ng-model="stylistInput.username">
            <input type="password" class="RSInputs" id="RSPassword" placeholder="Password" ng-model="stylistInput.password">
            <div id="RSLoginButt" ng-click="login(stylistInput)">Log In</div>
        </div>
    </div>
    <div id="callToday" ng-show="callTodayValue">
        Call: <highlight>801-746-1010</highlight>,<br>And Reserve Your Appointment
        <div id="CTX" class="fa fa-times" ng-click="CTS()"></div>
    </div>
</div>