<div id="stylistDirDiv">
    <div id="SDleftColumn">
        <div id="SDLImg" style="background-image: url({{selectedStylist.pictureUrl}})"></div>
        <div id="SDLNav">
            <div class="SDLNavItems">
                <div class="SDLNavIs hvr-overline-from-center" ng-click="selectSylistInfo(selectedStylist.bio); selectStylistType('Bio')"  ng-class="{selectedType: selectedStylistType === 'Bio'}">Bio</div>
            </div>
            <div class="SDLNavItems">
                <div class="SDLNavIs hvr-overline-from-center" ng-click="selectSylistInfo(selectedStylist.services); selectStylistType('Services')"  ng-class="{selectedType: selectedStylistType === 'Services'}">Services</div>
            </div>
            <div class="SDLNavItems">
                <div class="SDLNavIs hvr-overline-from-center" ng-click="selectSylistInfo(selectedStylist.hours); selectStylistType('Hours')"  ng-class="{selectedType: selectedStylistType === 'Hours'}">Hours</div>
            </div>
        </div>
    </div>
    <div id="SDrightColumn">
        
        <div id="SDRBio" class="StylistInfoSideDivClass" ng-if="selectedStylistType === 'Bio'">
            {{selectedStylistInfo}}
        </div>
        
        <div id="SDRServices" class="StylistInfoSideDivClass" ng-if="selectedStylistType === 'Services'">
            <div class="SDRSitem" ng-repeat="item in selectedStylistInfo track by $index">
                {{item}}
            </div>
        </div>
        
        <div id="SDRHours" class="StylistInfoSideDivClass" ng-if="selectedStylistType === 'Hours'">
            <div class="SDRHitems" ng-repeat="item in selectedStylistInfo track by $index">
                <div ng-repeat="(key, value) in item">
                    {{key}}: {{value.start}} - {{value.end}}
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>