<div id="teamBody">
    
    <div id="OurTeam">
        OUR TEAM
    </div>
    
    <div id="stylistsMainDiv">
        <div id="leadTeamDiv">
            <div class="leadTeamClass" id="teamFalecia">
                <div id="faleciaImg"></div>
                <div id="faleciaInfo">
                    Falecia Wilson<br>
                    Owner<br>
                </div>
            </div>
            <div class="leadTeamClass" id="teamGinni">
                <div id="ginniImg"></div>
                <div id="ginniInfo">
                    Ginni Revuelta<br>
                    Salon Director
                </div>
            </div>
        </div>
        
        <div id="teamFlex">
            <div class="arrows fa fa-angle-left" ng-click="moveStylistRight()"></div>
            <div id="stylistTeamDiv">
                <div class="stylistDiv" ng-repeat="stylist in team" style="background-image: url({{stylist.pictureUrl}})" ng-click="stylistDirectiveDivShowFuncShow(); selectStylist(stylist)">
                    <div class="stylistName">
                        {{stylist.firstname}} {{(stylist.lastname).substr(0,1)}}.
                    </div>
                </div>
            </div>
            <div class="arrows fa fa-angle-right" ng-click="moveStylistLeft()"></div>
        </div>
        
    </div>
    
    <div id="stylistDirectiveDiv" ng-show="stylistDirectiveDivShow">
        <div id="SDDX" class="fa fa-times" ng-click="stylistDirectiveDivShowFuncHide()"></div>
        <stylist-dir></stylist-dir>
    </div>
    
</div>